<div class='card'>
  <div class='card-header'>
    <div class="text-left">
        <i class="fa fa-list-ul" style="margin-right: 10px"></i>{{pageTitle}}
    </div>
  </div>
  <div class='card-body'>

    <div class='table-responsive'>
      <table class='table'
             *ngIf='students && students.length'>
        <thead>
          <tr>
            <th>
            </th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Nr. Indeksu</th>
            <th>Pesel</th>
            <th>Średnia ocen</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
