<div class='card'>
  <div class='card-header'>
    <div class="text-left">
        <i class="fa fa-list-ul" style="margin-right: 10px"></i>{{pageTitle}}
        <div class="text-right" style="float: right;"> Filter by: <input type='text' [(ngModel)]='listFilter' /> </div>
    </div>
  </div>
  <div class='card-body'>

    <div class='table-responsive'>
      <table class='table'
             *ngIf='students && students.length'>
        <thead>
          <tr>
            <th>
              <button class='btn btn-primary'
                      (click)='toggleImage()'>
                {{showImage ? 'Ukryj' : 'Pokaż'}} Zdjęcia
              </button>
            </th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Nr. Indeksu</th>
            <th>Pesel</th>
            <th>Średnia ocen</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let student of filteredStudents'>
            <td>
              <img *ngIf='showImage'
                   [src]='student.imageUrl'
                   [title]='student.name'
                   [style.width.px]='imageWidth'
                   [style.margin.px]='imageMargin'>
            </td>
            <td>
              <a [routerLink]="['/student', student.studentId]">
                {{ student.name }}
              </a>
            </td>
            <td>{{ student.surname | convertToSpaces: '-' }}</td>
            <td>{{ student.index }}</td>
            <td>{{ student.pesel }}</td>
            <td>
              <pm-star [rating]='student.average'
                       (ratingClicked)='onRatingClicked($event)'>
              </pm-star>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
